.chamada {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;
  text-align: center;

  background-color: #00161c;

  padding-top: 12.25rem;
  padding-bottom: 2.5rem;
}

.chamada__titulo {
  font-family: var(--font-primary), serif;
  font-weight: var(--weight-bold);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: 1.5rem;
}

.chamada__texto {
  font-family: var(--font-secundary), sans-serif;
  font-weight: var(--weight-regular);
  font-size: 1.25rem;
  line-height: normal;

  margin: 0 auto 2.5rem;
}

.chamada__botao {
  font-family: var(--font-secundary);
  font-weight: var(--weight-regular);
  width: 100%;
}
